@mixin button($bgColor:$primary-color,$color:$white-color){
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 0.64rem;
    background: $bgColor;
    color:$color ;
    transition: all 400ms ease;
    &:hover{
        background: lighten($bgColor, 8%);
        box-shadow: 0 16px 26px rgba($color: #000000, $alpha: 0.15);
    }
}

@mixin backgroundgradient {
   background: linear-gradient(135deg,$primary-color,$primary-varient-color);
   color: $white-color;
   h1,
   h2,
   h3,
   h4,
   h5,
   h6{
       color: $white-color;
   }
}